body html {
    margin: 0;
    padding: 0;
}

.main-block {
    margin-top: 20px;
}

.card-body {
    padding: 10px;
    position: relative;
}

.card-body.droppable:after {
    content: '';
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    border:5px dashed #2b87bc;
}

.employees-list .card {
    margin-bottom: 5px;
}

.card .card-header a {
    color: #292929;
}

.employee-cart img {
    width: 100%;
    height: auto;
}


.employee-cart .employee-name {
    font-weight: 600;
    font-size: 24px;
}

.employee-cart .employee-position {
    font-size: 14px;
    color: #838383;
}

.employee-cart .employment-date {
    padding-top: 10px;

}

.employee-cart .employment-date span {
    font-weight: 600;
}

.employee-cart .employee-wage span {
    font-weight: 600;
}

.employee-form-edit .employee-avatar {
    text-align: center;
}

.employee-form-edit .employee-avatar img {
    width: 40%;
    border-radius: 50%;
    border: 3px dashed #fff;
}
.employee-form #input-director {
    position: relative;
}

.employee-form #input-director:hover {
    cursor: pointer;
}
.employee-form #input-director .search-btn{
    position: absolute;
    right: 10px;
    height: 100%;
    top: 10px;
}
.employee-form #input-director .delete-btn{
    position: absolute;
    right: 30px;
    height: 100%;
    top: 10px;
}

.employee-form-create .employee-avatar:hover img {
    border: 3px dashed #61aafa;
    transition: all .3s;
}

.employee-form-create .employee-avatar {
    text-align: center;
}

.employee-form-create .employee-avatar img {
    width: 40%;
    border-radius: 50%;
    border: 3px dashed #fff;
}

.employee-form-edit .employee-avatar:hover img {
    border: 3px dashed #61aafa;
    transition: all .3s;
}

#employee-btn-delete {
    position: absolute;
    left: 0;
    margin-left: 16px;
}

.employees-list-item {
    width: 100%;
    line-height: 150%;
    cursor: pointer;
}

.employees-list-item .d-inline-block {
    vertical-align: middle;
}

.employees-list-item .employee-item-chekbox {
    width: 3%;
    text-align: center;
}

.employees-list-item .employee-item-id {
    width: 3%;
    text-align: center;
}

.employees-list-item .employee-item-avatar {
    width: 10%;
    text-align: center;
}

.employees-list-item .employee-item-avatar img {
    width: 40%;
    border-radius: 50%;
}

.employees-list-item .employee-item-name {
    width: 30%;
}

.employees-list-item .employee-item-position {
    width: 20%;
}

.employees-list-item .employee-item-wage {
    width: 10%;
}

.employees-list-item .employee-item-employment-date {
    width: 10%;
}

.employees-list-item .employee-item-director {
    width: 10%;
}

.pagination-center {
    padding: 10px 0px 5px 0px;
    width: auto;
    margin: auto;
}

.employees-columns .navbar {
    padding: 8px 20px;
}

.employees-navbar {
    background: #f2f2f2;
}

.employees-navbar .item-order {
    position: relative;
    color: #6b6b6b
}

.employees-navbar .item-order:hover {
    color: #252525;
    font-weight: 500;
    cursor: pointer;
}

#filter-input {
    width: auto;
    border: none;
    outline: none;
    padding: 4px 10px 4px 10px;
    margin-top: 4px;
}

#filter-tags .item-tags {
    margin-right: 10px;
    background-color: #2e90ff;
    padding: 4px 10px 4px 10px;
    color: #ffffff;
    margin-top: 4px;
}

#filter-tags .item-tags span {
    vertical-align: middle;
    margin-left: 5px;
}

#filter-fields {
    position: absolute;
    border: 1px solid #999999;
    min-width: 250px;
    height: auto;
    background-color: #ffffff;
    z-index: 2;
}

#filter-fields .fields-item {
    padding: 5px 20px 5px 20px;
    border-bottom: 1px solid #dddddd;
    color: #636363;
    font-weight: 600;
}

#filter-fields .fields-item:hover {
    background-color: #2e90ff;
    color: #ffffff;
}

.employees-navbar .active {
    color: #0a0a0a;
    font-weight: 500;
}

.active.desc:after {
    content: '>';
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.active.asc:after {
    content: '<';
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#notifies {
    position: fixed;
    z-index: 1;
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;
}

.navbar-action-list-btn .action-btn i {
    width: 35px;
    height: 20px;
}

.navbar-action-list-btn .action-btn {
    color: #707070;
    font-size: 20px;
    text-align: center;
}

.navbar-action-list-btn .action-btn:hover {
    cursor: pointer;
    color: #7ba6fa;
}

#employee-director-modal .modal-content {
    box-shadow: 0px 0px 300px 40px #3e3e3e;
}

.director-list-item .employee-item-id {
    width:7%
}

.director-list-item .employee-item-avatar {
    width:5%
}
.director-list-item .employee-item-avatar img {
    width: 100%;
    border-radius: 50%;
}
.director-list-item .employee-item-name {
    width:45%;
    padding-left: 10px;
}
.director-list-item .employee-item-position {
    width:40%
}
.director-list-item:hover {
    cursor: pointer;
}

.not-found-result {
    width:100%;
    padding: 0px 15px 0px 15px;
}

.not-found-result .content {
    border: 1px solid #c9c9c9;
    width: 100%;
    align-items: center;
}

.not-found-result .not-found-img {
    width: 35%;
    height: auto;
}
.not-found-result .not-found-img img{
    width: 100%;
}

.not-found-result .not-found-message {
    font-weight: 600;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 30px;
    width:100%;
    text-align: center;
}

.not-found-result .not-found-message .message {
    font-size: 50px;
    color: #2d83bc;
}

.not-found-result .not-found-message .link a{
    display: block;
    background: #ff7b2e;
    color: #ffffff;
    height:60px;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px 10px 30px;
    width:60%;
    margin: auto;
}

